<%- include("partials/header.ejs") %>
<body>
    <%- include("partials/navbar.ejs") %>
    <div class="container" id="formulario-pergunta">
        <div class="card">
            <div class="card-header">
                <h3>Realizar Pergunta</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="/salvarPergunta">
                    <label for="">Título</label>
                    <input name="Título" type="text" placeholder="Título" class="form-control">
                    <br><label for="">Descrição</label>
                    <textarea name="Descricao" placeholder="Descreva Sua Pergunta Aqui" class="form-control"></textarea> <br>
                    <button class="btn btn-primary">Perguntar</button>
                </form>
            </div>
        </div>
    </div>   
</body>
<%- include("partials/footer.ejs") %>